    <div class="footer">
      <div class="container-fluid text-center">
        <ul class="checklist">
          <li><a href="/about">About</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/img/Arch Beta Application Fillable(12-22-15).pdf" target="_blank">Application</a></li>
          <li><a href="https://www.facebook.com/archbetaapts/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
        </ul>
        <h3>ARCH Beta Apartments</h3>
      </div>
    </div>
  </body>
</html>
