<% include ./partials/header %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5 col-lg-4">
      <div class="imgbox">
        <img class="thumbnail" src="/img/20151022_081155.jpg" alt="">
      </div>
    </div>
    <div class="col-sm-7 col-lg-8">
      <h1>A Bit of our History</h1>
      <p>A television series in 1968 combined with the general church movement toward involvement in social issues led to the formation of the Augusta Regional Church Housing Corporation.</p>
      <p>
        Canon Roger Smith, Rector of St. Mark’s Episcopal Church invited local clergymen to a session to discuss local issues. The churches involved were St. Mark’s, South Parish Green Street Methodist, St. Augustine’s, St. Mary’s, All Souls Unitarian church, Prince of Peace Lutheran Church and three Hallowell Churches, Cox Memorial, South Parish Congregational and Sacred Heart.
      </p>
      <p>
        Principally, it was Father Smith and Augusta City Manager Paul Poulin along with the Pastors of the above named churches who pushed for housing for the elderly.</p>
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-7 col-lg-8">
      <h1>Property Information</h1>
      <p>
        <strong>Staff</strong> - You may reach any staff person by calling the office at 622-4908. The management office is located at 21 Gray Birch Dr. (Arch Beta Resident Center) Office hours are Monday through Friday, 8:00 a.m. to 4:00 p.m. There are 3 full time staff members on site 5 days a week. Barkan employees are here to be of service to you.
      </p>
      <p>
        <strong>Maintenance</strong> – ARCH Beta offers 24 hour emergency maintenance service for after hours. Emergency maintenance may be called in at any time day or night, seven days per week. Regular maintenance service hours are Monday through Friday from 8:00 am to 4:00 pm. All requests for maintenance service must be made to the OFFICE by phone or in person.
      </p>
      <p>
        <strong>Resident Services Coordinator</strong> - ARCH Beta offers the help and services of an RSC to all residents. The Resident Service Coordinator office is located at 21 Gray Birch Dr. The Resident Service Coordinator is here to serve you. If you have a question or concern that is not related to your apartment or the building you may go to the Resident Service Coordinator and she will help you. The Resident Services Coordinator can connect you with personal services or medical services that may be of assistance to you.
      </p>
      <p>
        <strong>Pet Policy</strong> - Pets under 25lbs are welcome here at ARCH Beta. Residents are permitted to have 1 domestic animal under 25lbs and are subject to a $250.00 pet deposit. We can make payment arrangements on the pet deposit also.
      </p>
    </div>
    <div class="col-sm-5 col-lg-4">
      <div class="imgbox">
        <img class="thumbnail" src="/img/20151021_121724.jpg" alt="">
      </div>
    </div>
  </div>


</div>
<% include ./partials/footer %>
