<% include ./partials/header %>
<div class="container">
  <h1>Gallery</h1>
  <div class="row">
    <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 1" href="#"><img class="thumbnail img-responsive" src="http://res.cloudinary.com/rumplefumpf/image/upload/c_scale,w_1008/v1510606173/20151016_073753_Richtone_HDR_cgscve.jpg"></a><p>Arch Beta Resident Center</p></div>
    <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 1" href="#"><img class="thumbnail img-responsive" src="http://res.cloudinary.com/rumplefumpf/image/upload/c_scale,w_1008/v1510606120/20151021_121724_bzur3h.jpg"></a><p>Community Room</p></div>
    <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 1" href="#"><img class="thumbnail img-responsive" src="http://res.cloudinary.com/rumplefumpf/image/upload/c_scale,w_1008/v1510606126/20151022_081220_mwwcnw.jpg"></a><p>Community Kitchen</p></div>
    <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 1" href="#"><img class="thumbnail img-responsive" src="http://res.cloudinary.com/rumplefumpf/image/upload/c_scale,w_1008/v1510606186/20160714_081511_bdyseo.jpg"></a><p>Community Patio</p></div>
    <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 1" href="#"><img class="thumbnail img-responsive" src="http://res.cloudinary.com/rumplefumpf/image/upload/c_scale,w_1008/v1510606112/20160715_084845_pl0mjv.jpg"></a></div>
    <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 1" href="#"><img class="thumbnail img-responsive" src=http://res.cloudinary.com/rumplefumpf/image/upload/c_scale,w_1008/v1510606187/20160715_090230_x0ih1t.jpg></a><p>Community Garden</p></div>
    <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 1" href="#"><img class="thumbnail img-responsive" src=http://res.cloudinary.com/rumplefumpf/image/upload/c_scale,w_1008/v1510606276/20160715_090530_wu4lkz.jpg></a><p>Arch Beta Park</p></div>
    <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 1" href="#"><img class="thumbnail img-responsive" src=http://res.cloudinary.com/rumplefumpf/image/upload/c_scale,w_1008/v1510606152/20151022_081155_bfd4ko.jpg></a><p>Arch Beta Resident Center</p></div>
  </div>
  <div class="row">
    <h3>Interiors</h3>
    <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 1" href="#"><img class="thumbnail img-responsive" src=http://res.cloudinary.com/rumplefumpf/image/upload/c_scale,w_1008/v1510606232/Interiors_20170201_145059_wsrxay.jpg></a><p>Kitchen</p></div>
    <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 1" href="#"><img class="thumbnail img-responsive" src=http://res.cloudinary.com/rumplefumpf/image/upload/c_scale,w_1008/v1510606224/Interiors_20170201_145107_blauyc.jpg></a><p>Kitchen</p></div>
    <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 1" href="#"><img class="thumbnail img-responsive" src=http://res.cloudinary.com/rumplefumpf/image/upload/c_scale,w_1008/v1510606296/Interiors_20170201_145118_valkrj.jpg></a><p>Kitchen Pantry</p></div>
    <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 1" href="#"><img class="thumbnail img-responsive" src=http://res.cloudinary.com/rumplefumpf/image/upload/c_scale,w_1008/v1510606267/Interiors_20170201_145137_m6nbq1.jpg></a><p>Living Room</p></div>
    <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 1" href="#"><img class="thumbnail img-responsive" src=http://res.cloudinary.com/rumplefumpf/image/upload/c_scale,w_1008/v1510606269/Interiors_20170201_145147_vj47qh.jpg></a><p>Living Room</p></div>
    <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 1" href="#"><img class="thumbnail img-responsive" src=http://res.cloudinary.com/rumplefumpf/image/upload/c_scale,w_1008/v1510606276/Interiors_20170201_145202_est7jr.jpg></a><p>Bathroom</p></div>
    <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 1" href="#"><img class="thumbnail img-responsive" src=http://res.cloudinary.com/rumplefumpf/image/upload/c_scale,w_1008/v1510606301/Interiors_20170201_145208_jja7vy.jpg></a><p>Bedroom</p></div>
    <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 1" href="#"><img class="thumbnail img-responsive" src=http://res.cloudinary.com/rumplefumpf/image/upload/c_scale,w_1008/v1510606292/Interiors_20170201_145222_eeumr5.jpg></a><p>Bedroom</p></div>
  </div>

</div>
<div tabindex="-1" class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
		<button class="close" type="button" data-dismiss="modal">×</button>
		<!-- <h3 class="modal-title">Heading</h3> -->
	</div>
	<div class="modal-body">

	</div>
	<div class="modal-footer">
		<button class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
   </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
  $('.thumbnail').click(function(){
      $('.modal-body').empty();
    var title = $(this).parent('a').attr("title");
    $('.modal-title').html(title);
    $($(this).parents('div').html()).appendTo('.modal-body');
    $('#myModal').modal({show:true});
  });
  });
</script>
<% include ./partials/footer %>
