<% include ./partials/header %>
<div class="container text-center">
  <h1>Message Sent.  Thank you.</h1>
  <h2>You should receive a response within 24 hours.</h2>  
</div>
<% include ./partials/footer %>
